// @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
$body-font-family: "Raleway", sans-serif;
.v-application {
 .display-1,
 .display-2,
 .display-3,
 .display-4,
 .headline,
 .title,
 .subtitle-1,
 .subtitle-2,
 .body-1,
 .body-2,
 .caption,
 .overline {
  font-family: $body-font-family !important;
 }
}

$font-size-root: 16px;
$line-height-root: 1.4;

$font-weights: (
 "thin": 300,
 "light": 300,
 "regular": 400,
 "medium": 500,
 "bold": 600,
 "black": 700
);

$heading-font-family: $body-font-family;

$headings: (
 "h2": (
  "weight": 100,
  "font-family": $heading-font-family
 ),
 "h3": (
  "weight": 300,
  "font-family": $heading-font-family
 ),
 "h6": (
  "weight": 300,
  "line-height": 2rem,
  "letter-spacing": 0.0125em,
  "font-family": $heading-font-family
 ),
 "subtitle-1": (
  "size": 1rem,
  "weight": 600,
  "line-height": 1.75rem,
  "letter-spacing": 0.009375em,
  "font-family": $body-font-family
 ),
 "caption": (
  "size": 0.75rem,
  "weight": 300,
  "letter-spacing": 0.0333333333em,
  "line-height": 1.3rem,
  "font-family": $body-font-family
 ),
 "overline": (
  "size": 0.625rem,
  "weight": 400,
  "letter-spacing": 0.1666666667em,
  "line-height": 1rem,
  "font-family": $body-font-family
 )
);
